


@media only screen and (min-width : 320px) {
	.container{
		width: 98%;
		min-height: 97%;
		height:97%;
		margin: 1%;
		background-position: center top;
		background-repeat: no-repeat;
		position: relative;
		padding: 0;
		background-position: center top;
		background-repeat: no-repeat;
	}

}

@media only screen and (min-width : 768px) {

	.container {
		// border: 5px solid #fff;
		box-shadow:0px 0px 70px rgba(0,0,0,.4);
		-webkit-box-shadow:0px 0px 70px rgba(0,0,0,.4);
		-moz-box-shadow:0px 0px 70px rgba(0,0,0,.4);
	}

}

@media only screen and (min-width : 992px) {

	.container {
		width: 98%;
    height: 97vh;
    max-width: 1024px;
    margin: 1% auto;
		left:0;
		top:0;
		background-attachment: fixed;
		overflow: hidden;
		padding:0;

	}

}

@media only screen and (min-width : 1200px) {

	.container {
		width:1024px;
		height:620px;
		min-height:94vh;
		background-size: 100%;
		background-attachment: fixed;
		overflow: hidden;
		padding:0;
		margin: 1% auto;

	}

}
@media only screen and (min-width : 1367px) {

	.container {
		margin: 1% auto;
		width:1024px;
		height:750px;
	}

}


//centering with viewport height
//@media only screen and (min-height : 768px)and (max-width : 1024px){
//	.container {
//		height:750px;
//		min-height:750px;
//		top:0;
//		position: absolute;
//		left: 50%;
//		margin-left: -512px;
//	}
//
//}
