
//Sinhala Font
@font-face {
	font-family: 'apex-a.pura-008';
	src: url('../fonts/apex-apura-008.eot');
	src: url('../fonts/apex-apura-008.eot?#iefix') format('embedded-opentype'),
		url('../fonts/apex-apura-008.woff2') format('woff2'),
		url('../fonts/apex-apura-008.woff') format('woff'),
		url('../fonts/apex-apura-008.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FMMalithi';
	src: url('../fonts/FMMalithix.eot');
	src: url('../fonts/FMMalithix.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FMMalithix.woff2') format('woff2'),
		url('../fonts/FMMalithix.woff') format('woff'),
		url('../fonts/FMMalithix.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
