

input[type="text"],
input[type="email"],
input[type="url"],
input[type="tel"]{
	display:block;
	border:1px solid #d6d6d6;
	background-color:#fff;
	height:38px;
	line-height:50px;
	font-size: 20px;
	padding: 0 10px;
	width:100%;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}
label{
	color:#000;
	font-size:28px;
	line-height:32px;
	text-align:left;
	font-weight:normal;

	&.error{
		float:none;
		line-height: 24px;
    font-family: Arial, Helvetica, sans-serif;
    height: 18px;
    margin-bottom: -18px;
		font-size:13px;
		color:#ad0505 !important;
	}
}
.input-wrapper{
	width:100%;
	margin-bottom:36px;
}

.register{
	form{
		padding-top:24px;
	}
	label{
		min-width:170px;
		display:block;
	}
	.input-wrapper{
		width:100%;
	}

	.submit_btn{
		background-color:#6f3e57;
		display:block;
		color:#f8d695;
		border-radius:8px;
		font-size:26px;
		text-align:center;
		width:80%;
		max-width:280px;
		height:62px;
		line-height:50px;
		text-decoration:none;
		margin:26px auto 0 auto;
		border:none;
		text-indent:0;
		font-family: 'apex-a.pura-008';

		&:focus{
			outline:none;
		}
	}
}


#register-form{
	.input-wrapper{
		p{
			display:none;
		}
	}
}



@media only screen and (min-width : 768px) {
	input[type="text"],
	input[type="email"],
	input[type="url"],
	input[type="tel"]{
		height:50px;
	}

	.register{
		label{
			min-width: 170px;
	    float: left;
		}
		.input-wrapper{
			width: 60%;
			float: right;
		}
		.submit_btn{
			font-size:36px;
		}
	}
	label{
		font-size:36px;

		&.error{
			font-size:13px;
			height: 30px;
	    margin-bottom: -30px;
		}
	}

}




//STYLES FOR ENGLISH AND TAMIL LANGS
body.english,
body.tamil{
	label{
		font-size:20px;
		&.error{
			font-size:12px;
		}
	}
	.game__timmer{
		font-size: 20px;
		line-height: 86px;
		font-family: 'Rancho', cursive;
	}
	.game__how{
		font-size:26px;
	}
	.game__score{
		font-size:36px;
		line-height:70px;
	}
	.page .content .btn-agree,
	.page .content .btn-back{
		font-size:24px;
	}
}

.english .register .submit_btn{
	font-family: 'Rancho', cursive;
	font-size:24px;
}
@media only screen and (min-width : 768px) {
	body.english,
	body.tamil{
		.game__timmer{
			font-size:28px;
			line-height:152px;
			font-family: 'Rancho', cursive;
		}

	}
}

body.tamil .game__how a{
	font-size:26px;
}
