.game{
    padding:0;
    margin-top:20px !important;
    z-index:200 !important;
    position:relative;

    h3{
      font-size:50px;
      font-weight:normal;
      margin:0;
      text-align:center;
    }

    &__info{
      float:left;
      width: 100%;
      max-width: 422px;
    }

    &__score{
      color:#6f3e57;
      border-radius:15px;
      line-height:66px;
      height:74px;
      font-size:48px;
      text-align:left;
      cursor:default;
    }

    &__timmer{
      width: 74px;
      height: 74px;
      line-height: 80px;
      cursor: default;
      color: #6f3e57;
      min-width: 85px;
      border-radius: 15px;
      font-size: 36px;
      position: absolute;
      background-size: 60%;
      right: 0;
      top: 58px;
    }

    &__how{
      border-radius:15px;
      line-height:46px;
      height:48px;
      width:100%;
      font-size:32px;
      margin-bottom:10px;
      cursor:pointer;

      a{
        color:#6f3e57;
        font-size: 26px;

        &:hover{
          opacity:0.9;
        }
      }
    }

    &__board{
      margin: 10px auto 0 auto;
      position: relative;
    }

    &__blocks{
      text-align:center;
    }

    &__tile{
      width: 100px;
      height: 90px;
      background-color:#fff;
      background-size: cover;
      background-position: center center;
      display:inline-block;
    }

    &__preloader,
    &__end{
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      // background-image: url('../images/game/pre_loder.jpg');
      text-align: center;
      z-index: 10;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      background-color: rgba(0,0,0,.2);

      a{
        position: absolute;
        width: 100px;
        height: 100px;
        display: block;
        left: 50%;
        top: 50%;
        border-radius: 50%;
        margin-left: -50px;
        margin-top: -50px;
        text-align: center;
        line-height: 90px;
        text-decoration: none;
        opacity:0.9;
        &:hover{
          opacity:1;
        }

        img{
          width: 100%;
        }
      }
    }

    &__blocker {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      z-index: 9;
      display: none
    }

    &__end{
      display:none;
    }

   		@media only screen and (min-width : 768px) {
        margin-top:50px !important;

        &__tile{
          display:block;
          float:left;
          width: 100px;
          height: 100px;
          border-radius: 50%;
          border: 5px solid #eee;
          text-align: center;
          line-height: 89px;
          font-size: 30px;
          color: #333;

          text-decoration: none !important;
        }

        &__timmer{
            width:132px;
            height:132px;
            float:right;
            line-height:138px;
            position:static;
            font-size:48px;
          }

          &__how{
            a{
              font-size:36px;
            }
          }
      }
}





//Correct Incorrect display
.game__tile.correct,
.game__tile.error {
	position: relative;

	&:after{
		display: block;
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		font-family: "FontAwesome";
		text-align: center;
    line-height: 100px;
    border-radius: 100%;

		font-size: 40px;
		z-index: 10;
		pointer-events: none;
		color: #fff;
	}
}

.game__tile.correct:after {
	// content: "\f00c";
  content: ""; 
	background-color: rgba(green,.7);
}

.game__tile.error:after {
	// content: "\f00d";
  content: "";  
	background-color: rgba(red,.7);
}

.swing {
    animation: swing ease-in-out 1s infinite alternate;
    transform-origin: center -20px;
    float:left;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

.swing img {
    border: 5px solid #f8f8f8;
    display: block;
}

.swing:after{
    content: '';
    position: absolute;  
    width: 20px;
    height: 20px;  
    border: 1px solid #999;
    top: -10px; 
    left: 38%;
    z-index: 0;
    border-bottom: none;
    border-right: none;
    transform: rotate(45deg);
}
/* nail */
.swing:before{
    content: '';
    position: absolute;
    width: 5px; 
    height: 5px;
    top: -17px;
    left: 45%;
    z-index: 5;
    border-radius: 50% 50%;
    background: #000;
}
 
@keyframes swing {
    0% { transform: rotate(3deg); }
    100% { transform: rotate(-3deg); }
}