.page{
 overflow:hidden;
 position:relative;
 height:100%;

@media only screen and (min-width : 320px) {
	background:url('../images/bottom-cloud.png') no-repeat 0 100% #fff;
  min-height: 97vh;
  background-size: contain;

	.ipd{
    width: 172px;
    height: 60px;
		margin:10px auto 0 auto;
		background:transparent url('../images/header-logo.png') left top no-repeat;
		display:block;
		text-align:left;
		text-indent:-9999px;
		position:relative;
		z-index:50;
    background-size:contain;
	}

	&--bg{
		height:100%;
		width:100%;
		position:absolute;
		z-index:1;

			&:before{
				width:20%;
				height:10%;
				position:absolute;
				right:0;
				top:0;
				content:'';
				background: url('../images/righttop-flower.png') top right transparent no-repeat;
        background-size: contain;
			}
			&:after{
				width:30%;
				height:15%;
				position:absolute;
				left:0;
				bottom:0;
				content:'';
				background: url('../images/leftbottom-flower.png') bottom left transparent no-repeat;
        background-size: contain;
			}
	}

	.content{
		width:98%;
		margin: 0 auto;
		max-width:566px;
		border-radius:15px;
		box-sizing: border-box;
		position:relative;
		z-index:50;

		&.terms,
		&.register,
    &.howto{
			background-color:#f9f4ed;
			padding:20px 15px;
			margin-top:10px;

			h3{
				font-size:32px;
				font-weight:normal;
				margin:0;
				text-align:center;
			}

		}
    &.howto h3{
      font-size:40px;
    }
		.terms-inner,
    .howto-inner{
			height:auto;
			max-height:260px;
			overflow-y:auto;
      margin-top:12px;

			p{
				font-family: 'FMMalithi';
				font-size:15px;
				line-height:24px;
			}
      ul li{
        font-family: 'FMMalithi';
				font-size:15px;
				line-height:24px;
      }

		}
		.btn-agree,
    .btn-back{
			background-color:#6f3e57;
			display:block;
			color:#f8d695;
			border-radius:8px;
			font-size:36px;
			text-align:center;
      width: 80%;
      max-width: 280px;
			height:62px;
			line-height:58px;
			text-decoration:none;
			margin:26px auto 0 auto;

			&:hover{
				opacity:0.8;
			}
		}
	}

}

&.fr-lyr{

	&:before{
		background: url('../images/header-sun.png') top left no-repeat transparent;
		height:25%;
		content:'';
		width:25%;
		top:0;
		left:0;
		z-index:100;
		position:absolute;
    background-size: contain;
	}
	&:after{
		background: url('../images/right-kokis.png') bottom right no-repeat transparent;
		height:22%;
		content:'';
		width:20%;
		bottom:0;
		right:0;
		z-index:40;
		position:absolute;
    background-size: contain;
	}

}
@media only screen and (min-width : 768px) {
  	&--bg{
      &:before{
				width:296px;
				height:196px;
      }
      &:after{
				width:435px;
				height:179px;
      }
    }
    .ipd{
      width: 194px;
      height: 70px;
    }
    .content{
      width:90%;
      &.terms,
      &.register,
      &.howto{
        margin-top:50px;
        padding:26px 60px;
        h3{
          font-size:50px;
        }
      }
    }

}

@media only screen and (min-width : 992px) {
  .ipd{
    left:56px;
  }
  &--bg{
    &:before{
      width: 330px;
      height: 210px;
    }
    &:after{
      width:435px;
      height:179px;
    }
  }

  &.fr-lyr{

  	&:before{
      height: 310px;
      width: 320px;
  	}
  	&:after{
  		height:427px;
  		width:329px;
  	}

  }
}

@media only screen and (min-width : 1440px) {
  &.fr-lyr{

    &:before{
      height:399px;
      width:417px;
    }
    &:after{
      height:427px;
      width:329px;
    }

  }

  .content{
    &.terms,
    &.register,
    &.howto{
      margin-top:100px;
    }
  }

  .ipd{
    width:302px;
    height:105px;
  }
}


}








//Styles for English and Tamil
body.english,
body.tamil{
  .page{
    .content{
      &.terms,
      &.register,
      &.howto{

        h3{
          font-size:30px;
        }
      }
    }
    .terms-inner,
    .howto-inner{
      p{
        font-family:Arial, Helvetica, sans-serif;
        font-size:12px;
        line-height:22px;
      }
      ul li{
        font-family:Arial, Helvetica, sans-serif;
        font-size:12px;
        line-height:30px;
      }
    }


  }
}
