.page .content.thanks{
  z-index:100;
}

.score_title{
  h3{
    font-size:60px;
    color:#b91007;
    font-weight:bold;
    text-shadow: 0 1px 0 #000;
  }
}

.score__card{
  font-family:"Comic Sans MS", cursive, sans-serif;
  margin-top:50px;
  .player-name{
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size:40px;
    text-transform:capitalize;
    font-weight:bold;
  }
  .score__text{
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size:40px;
    strong{
      background-color:#b91007;
      border-radius:8px;
      color:#fff;
      font-size: 64px;
      padding: 6px 60px;
      display: inline-block;
      text-shadow: 0 1px 0 #000;
      margin:20px;
      -ms-transform: rotate(-7deg);
      -webkit-transform: rotate(-7deg);
      transform: rotate(-7deg);
          }
  }
}


.btn-wrapper{
  position:relative;
  z-index:200;
  width:100%;
  text-align:center;
  a{
    cursor:pointer;
    display:inline-block;
		text-decoration:none;
		text-indent:0;
    &:hover{
      opacity:0.9;
    }
    &.done_btn,
    &.reply_btn{
      background-color:#6f3e57;
  		color:#f8d695;
  		border-radius:8px;
      font-size:28px;
  		text-align:center;
  		width:auto;
      min-width:150px;
  		height:62px;
  		line-height:58px;
      margin:10px;
    }
    &.shareBtn{
      margin-top:20px;
      width:72px;
      img{
        width:100%;
        height:auto;
      }
    }
  }
}


.thanks{
  .thanks__branding{
    .ipd{
      left:0;
      margin-bottom:22px;
    }
  }
  .thanks_msg{
    font-family:Arial, Helvetica, sans-serif;
    h3{
      color:#6f3e57;
      font-family: 'apex-a.pura-008';
      font-size: 64px;
      margin:40px 0;
      font-weight:normal;
    }
    a{
      color:#4267b2;
      &:hover{
        color:#55ace3;
      }
    }
  }
  .fb-like{
    margin-top:10px;
  }

}

body.english .thanks_msg{

  h3{
    font-family:Arial, Helvetica, sans-serif;
    font-size:40px;
    font-weight:bold;
  }
}

body.tamil .thanks_msg{

  h3{
    font-family:Arial, Helvetica, sans-serif;
    font-size:50px;
  }
}
