.welcome{
	width: 100%;
	height: 100%;
	position: relative;

	&:before{
		background: url('../images/sun.png') top left no-repeat transparent;
		content:'';
		top:0;
		left:0;
		z-index:100;
		position:absolute;
		background-size: contain;
	}

	@media only screen and (min-width : 320px) {

		&:before{
			height:20%;
			width:25%;
		}
		.kokokis{
			max-width: 400px;
			height: auto;
			margin: 32px auto 0 auto;
			// text-align:left;
			// text-indent:-9999px;
			// background:url('../images/kokokis.png') no-repeat transparent 0 0;
			img{
				width:100%;
				height:auto;
			}
		}
		&--btn{
			background-color:#6f3e57;
			display:block;
			border-radius:50%;
			text-align:center;
			text-decoration:none;
			color:#f8d695;
			position:absolute;
			z-index:100;
			font-size:36px;
			width:124px;
			height:124px;
			line-height:110px;
			bottom:40px;
			left:50%;
			margin-left:-62px;

			&:hover{
				box-shadow: 0 0 10px #301322;
			}
		}

	}


	@media only screen and (min-width : 768px) {
		&:before{
			height: 200px;
    	width: 280px;
		}
		&--btn{
			font-size:78px;
			width:234px;
			height:234px;
			line-height:210px;
			bottom:56px;
			left:50%;
			margin-left:-117px;

			&:hover{
				box-shadow: 0 0 10px #301322;
			}
		}
	}

	@media only screen and (min-width : 992px) {

		&:before{
			height: 292px;
    	width: 320px;
		}

	}

	@media only screen and (min-width : 1366px) {

	}

	@media only screen and (min-width : 1440px) {
		.kokokis{
			max-width: 561px;
		}
	}

}






//ENGLISH AND TAMIL LANGUAGE CHANGES
body.english{
	.welcome--btn{
		font-size: 53px;
		line-height:124px;
	}
}
body.tamil{
	.welcome--btn{
		font-size: 21px;
    line-height: 6px;
    padding-top: 64px;
	}
}

@media only screen and (min-width : 768px) {
	body.english{
		.welcome--btn{
			font-size: 53px;
			line-height:234px;
		}

	}
	body.tamil{
		.welcome--btn{
			font-size: 40px;
			line-height: 106px;
			padding-top: 64px;
		}
	}
}
