/**
 * Name 	: MD Sauce Smile App
 * Author 	: Lakshan Mahagamage
 * Date 	: 07-Mar-2017
 */
/**
 * ---------------------------------------------
 * Game Board Styles
 * ---------------------------------------------
 */
.game {
  padding: 0;
  margin-top: 20px !important;
  z-index: 200 !important;
  position: relative; }
  .game h3 {
    font-size: 50px;
    font-weight: normal;
    margin: 0;
    text-align: center; }
  .game__info {
    float: left;
    width: 100%;
    max-width: 422px; }
  .game__score {
    background-color: #f8d695;
    color: #6f3e57;
    border-radius: 15px;
    line-height: 66px;
    height: 74px;
    font-size: 48px;
    text-align: left;
    padding-left: 30px;
    cursor: default; }
  .game__timmer {
    width: 74px;
    height: 74px;
    line-height: 80px;
    cursor: default;
    color: #6f3e57;
    min-width: 85px;
    border-radius: 15px;
    font-size: 36px;
    background: #f8d695 url(../images/timer.png) center center no-repeat;
    position: absolute;
    background-size: 60%;
    right: 0;
    top: 58px; }
  .game__how {
    background-color: #f8d695;
    border-radius: 15px;
    line-height: 46px;
    height: 48px;
    width: 100%;
    font-size: 32px;
    margin-bottom: 10px;
    cursor: pointer; }
    .game__how a {
      color: #6f3e57;
      font-size: 26px; }
      .game__how a:hover {
        opacity: 0.9; }
  .game__board {
    border: 5px solid #f8d695;
    margin: 10px auto 0 auto;
    position: relative;
    background-color: #f8d695; }
  .game__blocks {
    text-align: center; }
  .game__tile {
    width: 145px;
    height: 90px;
    background-color: #fff;
    border: 2px solid #f8d695;
    background-size: cover;
    background-position: center center;
    display: inline-block; }
  .game__preloader, .game__end {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url("../images/game/pre_loder.jpg");
    text-align: center;
    z-index: 10;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }
    .game__preloader a, .game__end a {
      position: absolute;
      width: 100px;
      height: 100px;
      display: block;
      left: 50%;
      top: 50%;
      border-radius: 50%;
      margin-left: -50px;
      margin-top: -50px;
      text-align: center;
      line-height: 90px;
      text-decoration: none;
      opacity: 0.9; }
      .game__preloader a:hover, .game__end a:hover {
        opacity: 1; }
      .game__preloader a img, .game__end a img {
        width: 100%; }
  .game__blocker {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 9;
    display: none; }
  .game__end {
    display: none; }
  @media only screen and (min-width: 768px) {
    .game {
      margin-top: 50px !important; }
      .game__tile {
        display: block;
        float: left;
        width: 185px;
        height: 133px;
        border: 5px solid #f8d695; }
      .game__timmer {
        width: 132px;
        height: 132px;
        float: right;
        line-height: 138px;
        position: static;
        font-size: 48px; }
      .game__how a {
        font-size: 36px; } }

.game__tile.correct,
.game__tile.error {
  position: relative; }
  .game__tile.correct:after,
  .game__tile.error:after {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    font-family: "FontAwesome";
    text-align: center;
    font-size: 40px;
    z-index: 10;
    pointer-events: none;
    color: #fff; }
    @media only screen and (min-width: 320px) {
      .game__tile.correct:after,
      .game__tile.error:after {
        line-height: 89px; } }
    @media only screen and (min-width: 425px) {
      .game__tile.correct:after,
      .game__tile.error:after {
        line-height: 120px; } }
    @media only screen and (min-width: 768px) {
      .game__tile.correct:after,
      .game__tile.error:after {
        line-height: 133px; } }

.game__tile.correct:after {
  content: "\f00c";
  background-color: rgba(0, 128, 0, 0.7); }

.game__tile.error:after {
  content: "\f00d";
  background-color: rgba(255, 0, 0, 0.7); }
