/**
 * Name 	: MD Sauce Smile App
 * Author 	: Lakshan Mahagamage
 * Date 	: 07-Mar-2017
 */
/**
 * ---------------------------------------------
 * Game Board Styles
 * ---------------------------------------------
 */
.game {
  padding: 0;
  margin-top: 20px !important;
  z-index: 200 !important;
  position: relative; }
  .game h3 {
    font-size: 50px;
    font-weight: normal;
    margin: 0;
    text-align: center; }
  .game__info {
    float: left;
    width: 100%;
    max-width: 422px; }
  .game__score {
    color: #6f3e57;
    border-radius: 15px;
    line-height: 66px;
    height: 74px;
    font-size: 48px;
    text-align: left;
    cursor: default; }
  .game__timmer {
    width: 74px;
    height: 74px;
    line-height: 80px;
    cursor: default;
    color: #6f3e57;
    min-width: 85px;
    border-radius: 15px;
    font-size: 36px;
    position: absolute;
    background-size: 60%;
    right: 0;
    top: 58px; }
  .game__how {
    border-radius: 15px;
    line-height: 46px;
    height: 48px;
    width: 100%;
    font-size: 32px;
    margin-bottom: 10px;
    cursor: pointer; }
    .game__how a {
      color: #6f3e57;
      font-size: 26px; }
      .game__how a:hover {
        opacity: 0.9; }
  .game__board {
    margin: 10px auto 0 auto;
    position: relative; }
  .game__blocks {
    text-align: center; }
  .game__tile {
    width: 100px;
    height: 90px;
    background-color: #fff;
    background-size: cover;
    background-position: center center;
    display: inline-block; }
  .game__preloader, .game__end {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 10;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgba(0, 0, 0, 0.2); }
    .game__preloader a, .game__end a {
      position: absolute;
      width: 100px;
      height: 100px;
      display: block;
      left: 50%;
      top: 50%;
      border-radius: 50%;
      margin-left: -50px;
      margin-top: -50px;
      text-align: center;
      line-height: 90px;
      text-decoration: none;
      opacity: 0.9; }
      .game__preloader a:hover, .game__end a:hover {
        opacity: 1; }
      .game__preloader a img, .game__end a img {
        width: 100%; }
  .game__blocker {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 9;
    display: none; }
  .game__end {
    display: none; }
  @media only screen and (min-width: 768px) {
    .game {
      margin-top: 50px !important; }
      .game__tile {
        display: block;
        float: left;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 5px solid #eee;
        text-align: center;
        line-height: 89px;
        font-size: 30px;
        color: #333;
        text-decoration: none !important; }
      .game__timmer {
        width: 132px;
        height: 132px;
        float: right;
        line-height: 138px;
        position: static;
        font-size: 48px; }
      .game__how a {
        font-size: 36px; } }

.game__tile.correct,
.game__tile.error {
  position: relative; }
  .game__tile.correct:after,
  .game__tile.error:after {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    font-family: "FontAwesome";
    text-align: center;
    line-height: 100px;
    border-radius: 100%;
    font-size: 40px;
    z-index: 10;
    pointer-events: none;
    color: #fff; }

.game__tile.correct:after {
  content: "";
  background-color: rgba(0, 128, 0, 0.7); }

.game__tile.error:after {
  content: "";
  background-color: rgba(255, 0, 0, 0.7); }

.swing {
  animation: swing ease-in-out 1s infinite alternate;
  transform-origin: center -20px;
  float: left;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); }

.swing img {
  border: 5px solid #f8f8f8;
  display: block; }

.swing:after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid #999;
  top: -10px;
  left: 38%;
  z-index: 0;
  border-bottom: none;
  border-right: none;
  transform: rotate(45deg); }

/* nail */
.swing:before {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  top: -17px;
  left: 45%;
  z-index: 5;
  border-radius: 50% 50%;
  background: #000; }

@keyframes swing {
  0% {
    transform: rotate(3deg); }
  100% {
    transform: rotate(-3deg); } }
